#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    scroll-margin-top: 20rem;
    color: #fff;
}
.about-left {
    max-width: 62rem;
    flex: 1;
}
.about-left p {
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 50rem;
}
.about-right {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.about-right img {
    min-width: 25rem;
    max-width: 400px;
}

@media screen and (max-width: 768px) {
    #about {
        flex-direction: column-reverse;
        text-align: center;
    }
    .about-left p {
        margin-bottom: 0.2rem;
    }
    
}