header {
    text-align: center;
}
.header-body {
    margin-top: 220px;
}
.header-body h1 {
    color: #7f4cdb;
    font-weight: bold;
}
.header-body h2 {
    color: #fff;
    font-size: 25px;
}
.typed-text {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(34), cursor .3s step-end infinite alternate;
}
@keyframes cursor {
    50% {border-color: transparent;}
}
@keyframes typing {
    from {width: 0;}
}

@media screen and (max-width: 768px) {
    .header-body h2 {
        font-size: 17px;
    }
}