.projects {
    margin-bottom: 10rem;
    margin-top: 10rem;
    scroll-margin-top: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects h2 {
    margin-bottom: 5rem;
    text-align: center;
}
.carrosel {
    display: flex;
    flex-wrap: wrap;
}
.carrosel-content img {
    width: 100%;
    min-width: 40rem;
    max-width: 47rem;
    height: auto;
    padding: 5px;
}
.btn-project {
    text-align: center;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 20px;
}
.btn-project button {
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    background: #eb9ff1;
    color: #f8fafc;
    transition: 0.3s ease-out;
}
.btn-project button:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .image img {
        min-width: 30rem;
        max-width: 40rem;
    }
    .btn-project {
        margin-left: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

