#skills h2,
.skills-content {
    text-align: center;
}
.skills-content {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.skills-content img:hover {
    cursor: pointer;
    transform: rotate(35deg);
}